
#container .titulo-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#container form {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    border: 2px solid white;
    border-radius: 1em;
    font-family: sans-serif;
}

#container form div + div {
    margin-top: 1em;
}

#container label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

#container input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
}

#container input:focus, textarea:focus {
    border-color: #000;
}

#container textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

#container .btn-form {
    padding-left: 140px; 
    cursor: pointer;
    border-radius: 10px;
    
}

#container button {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    height: 5px;
    line-height: 5px;
    color: #FFFFFF;
    font-family: sans-serif;
    width: 200px;
    font-size: 15px;
    font-weight: 50px;
    padding: 17px;
    background-color: #FF914D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }


#container {
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 4;
    grid-row-end: span 3;
    grid-column-end: span 3;
    border: none;
    padding: 0;
    padding: 0 10px;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
}

#container .titulo-conta {
    background-color: #FF914D;
    color: white;
}
#container .form-conta{
    display: grid;
    align-items: center;
    justify-items: center;
    /* border: 1px solid #FF914D; */
    row-gap: 15px;
    column-gap: 15px;
}

/*
*
*   Responsividade < 1000px
*
*/
@media screen and (max-width: 1000px){
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container .titulo-conta { 
        height: 20vh;
        width: 100%;
    }
    #container input, textarea {
        width: 150px;
    }
}

/*
*
*   Responsividade < 650px
*
*/
@media screen and (max-width: 650px){
    
}